{% extends "base.html" %}
{% block content %}
    <h1>LOGIN</h1>

    <form method="POST">
        {{ form.hidden_tag() }}  <!-- Include CSRF token -->
        <div>
            {{ form.email.label }} {{ form.email() }} 
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit">{{ form.submit.label }}</button>
    </form>
    <div class="redirect">
        <p>Don't have an account? <a href="#">Sign Up</a></p>
        <p>Forgot Password? <a href="{{ url_for('users.reset_request') }}">Reset</a></p>
    </div>
{% endblock content %}